#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Multiple mods

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
           &kp TAB                                                                        &kp RET
&trans     &kp Q    &kp W  &kp F   &kp P      &kp G   &kp J   &kp L   &kp U      &kp Y    &kp SEMI  &trans
&kp LSHFT  &kp A    &kp R  &kp S   &kp T      &kp D   &kp H   &kp N   &kp E      &kp I    &kp O     &kp RSHFT
           &kp Z    &kp X  &kp C   &kp V      &kp B   &kp K   &kp M   &kp COMMA  &kp DOT  &kp FSLH
                           &trans  &kp SPACE  &trans  &trans  &trans  &trans
            >;
        };

        numbers {
            bindings = <
        &trans                                                                                                                   &trans
&trans  &trans        &trans      &trans         &trans        &trans         &trans         &trans        &trans        &trans  &trans        &trans
&trans  &kp N1        &kp N2      &kp N3         &kp N4        &kp N5         &kp N6         &kp N7        &kp N8        &kp N9  &kp N0        &trans
        &kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &trans  &kp LS(RPAR)
                                  &trans         &trans        &trans         &trans         &trans        &trans
            >;
        };
    };
};

// vim: expandtab softtabstop=4 shiftwidth=4 filetype=dts
