#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Multiple mods

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
           &kp TAB                                                                        &kp RET
&trans     &kp Q    &kp W  &kp F   &kp P      &kp G   &kp J   &kp L   &kp U      &kp Y    &kp SEMI  &trans
&kp LSHFT  &kp A    &kp R  &kp S   &kp T      &kp D   &kp H   &kp N   &kp E      &kp I    &kp O     &kp RSHFT
           &kp Z    &kp X  &kp C   &kp V      &kp B   &kp K   &kp M   &kp COMMA  &kp DOT  &kp FSLH
                           &trans  &kp SPACE  &trans  &trans  &trans  &trans
            >;
        };
    };
};

// vim: expandtab softtabstop=4 shiftwidth=4 filetype=dts
